.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
    }
    
    .icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px
    }

    .season-display.winter i {
        color: blue;
    } 

    .season-display.summer i {
        color: rgb(235, 97, 97);
    }

    .season-display {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .winter {
        background-color: rgb(13, 131, 235);
    }

    .summer {
        background-color: rgb(253, 208, 125);
    }